


{{#partial "content"}}
    <div class="animals">
        {{#if animals}}
            {{#each animals}}
                <div class="card" style="width: 12rem" >
                    <div class="card-body">
                        <h5>Name:{{name}}</h5>
                        <p>Type:{{type}}</p>
                        <p>Health:{{health}}</p>
                        <p>Age:{{age}}</p>

                    </div>
                </div>
            {{/each}}
        {{else}}
            <h2>No animals! Create some animals <a href="/animals/new">here</a></h2>
        {{/if}}

    </div>

{{/partial}}
{{> layout.hbs}}